<% layout("/layouts/boilerplate") %>
<style>
    .filters-wrapper{
       display:flex;
    align-items:center;
    margin-top:1rem; 
    }
    #filter{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        overflow-x:auto;   /* hide scrollbar */
        flex:1;
        gap:.0.5rem;
        scroll-behavior:smooth;
        scrollbar-width: none;      /* Firefox */
        -ms-overflow-style: none;   /* IE/Edge */

    }
    .filters{
        min-width:100px;
        text-align: center;
        margin-top: 1rem;
        opacity: 0.7;
        flex-shrink:0;
    }
    .scroll-btn{
    border:1px solid #ddd;
    border-radius:50%;
    width:35px;
    height:35px;
    background:white;
    cursor:pointer;
}
.scroll-btn:hover{
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}
#filters::-webkit-scrollbar{
    display: none;              /* Chrome, Safari */
}

    .filters:hover{
        opacity: 1;
        cursor:pointer;
    }
    .filters p{
        font-size: 0.8rem;
    }
    .tax-info{
        display: none;
    }
    .tax-toggle{
      border: 1px solid black ;  
      border-radius:1rem;
      height: 3.2rem;
      width: 8rem;
      margin-left: 2rem;
      padding: 1rem;
      padding-right:1rem ;
      display: flex;
      align-items: center;
      font-size: 0.8rem;
    }
    
</style>
<body>
    <!-- <h1>All Listings Here</h1> -->
     <div class="d-flex align-items-center justify-content-between filters-wrapper">
        <button class="scroll-btn" id="leftBtn">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
       <div id="filters" class="d-flex flex-nowrap overflow-auto">
        <div class="filters">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic Cities</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-mountain"></i></div>
            <p>Mountains</p>
        </div>
        <div class="filters">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
            <p>Castles</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Amazing Pool</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-campground"></i></div>
            <p>Camping</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>
        <div class="filters">
            <div><i class="fa-regular fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-panorama"></i></div>
            <p>Amazing Views</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-earth-europe"></i></div>
            <p>Country</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-igloo"></i></div>
            <p>Domes</p>
        </div>
        <div class="filters">
            <div><i class="fa-solid fa-sailboat"></i></div>
            <p>Boat</p>
        </div>
        </div>
        <button class="scroll-btn" id="rightBtn">
        <i class="fa-solid fa-chevron-right"></i>
        </button>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display Taxes</label>
            </div>
        </div>
     </div>
     
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
         <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                  <div class="card col listing-card">
                      <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem; object-fit: cover;">
                      <div class="card-img-overlay">
                      </div>
                      <div class="card-body">
                          <p class="card-text">
                              <b><%= listing.title %></b>
                              <br>
                              &#8377;<%= listing.price.toLocaleString("en-IN") %>/night <i class="tax-info">&nbsp; &nbsp;+18%GST</i>
                          </p> 
                      </div>    
                  </div>
            </a>                 
        <%}%>  
    </div>
</body>
  <script>
    let taxSwitch=document.getElementById("switchCheckDefault") ;
    const filters = document.getElementById("filters");
    taxSwitch.addEventListener("click",()=>{
       let taxInfo =document.getElementsByClassName("tax-info");
       for (let info of taxInfo) {
        if (info.style.display!="inline") {
           info.style.display="inline"; 
        }else{
           info.style.display="none";  
        }
        
       }
    });
    document.getElementById("rightBtn").addEventListener("click", () => {
    filters.scrollBy({
        left: 300,
        behavior: "smooth"
    });
});

document.getElementById("leftBtn").addEventListener("click", () => {
    filters.scrollBy({
        left: -300,
        behavior: "smooth"
    });
});
  </script>
  
  

